<div class="container-fluid">
	<form method="#" action="#" accept="image/gif,image/jpeg"
		class="form-horizontal">

		<div class="row">
			<legend style="padding-left: 3%;">New Account</legend>
			<br />
			<div class="col-lg-3">
				<div class="fileinput fileinput-new" data-provides="fileinput">
					<div class="row">
						<div class="col-xs-offset-3 col-md-12">
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<div class="fileinput-preview thumbnail"
									data-trigger="fileinput" style="width: 150px; height: 170px;">
								</div>
							</div>
						</div>
					</div>
					<div class="row center">
						<div class="col-xs-offset-6 col-md-offset-6">
							<div class="">
								<span class="btn btn-lg btn-success btn-file"><span
									class="fileinput-new"> Upload </span> <span
									class="fileinput-exists"> Change</span> <input type="file"
									name="..."> </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-4">
						<div class="form-group">
							<label>Account Name</label>
							<div class="inner-addon left-addon">
								<i class="glyphicon glyphicon-user"></i> <input id="accountName"
									class="form-control loginInput">
							</div>
						</div>
						<div class="form-group">
							<label>Responsible Person</label>
							<div class="inner-addon left-addon">
								<i class="glyphicon glyphicon-user"></i> <input
									id="responsiblePerson" class="form-control loginInput">
							</div>
						</div>
						<div class="form-group">
							<label>Email ID</label>
							<div class="inner-addon left-addon">
								<span class="glyphicon glyphicon-envelope"></span> <input
									type="email" id="email" class="form-control loginInput">
							</div>
						</div>
						<div class="form-group">
							<label>Phone no.</label>
							<div class="inner-addon left-addon">
								<i class="glyphicon glyphicon-earphone"></i> <input id="phoneNo"
									class="form-control loginInput">
							</div>
						</div>
						<div class="form-group ">
							<label>Company Type</label>
							<div class="inner-addon left-addon">
								<span class="glyphicon glyphicon-home"></span> <select
									class="form-control loginInput" id="companyType">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</div>
						</div>

					</div>
					<div class="col-lg-4 col-lg-offset-1">
						<div class="form-group ">
							<label>Industry</label>
							<div class="inner-addon left-addon">
								<span class="glyphicon glyphicon-home"></span> <select
									class="form-control loginInput" id="industry">
									<option>&nbsp;&nbsp;&nbsp;1</option>
									<option>&nbsp;&nbsp;&nbsp;2</option>
									<option>&nbsp;&nbsp;&nbsp;3</option>
									<option>&nbsp;&nbsp;&nbsp;4</option>
								</select>
							</div>
						</div>
						<div class="form-group ">
							<label>Annual Income</label>
							<div class="inner-addon left-addon">
								<span class="glyphicon glyphicon-usd"></span> <input
									id="industry" class="form-control loginInput">
							</div>
						</div>
						<div class="form-group ">
							<label>Currency</label>
							<div class="inner-addon left-addon">
								<span class="glyphicon glyphicon-usd"></span> <input
									id="currency" placeholder="currency"
									class="form-control loginInput">
							</div>
						</div>
						<div class="form-group">
							<label>Comment</label>
							<textarea class="form-control" type="textarea" id="comment"
								placeholder="comment" rows="3" style="border: 1px solid;"></textarea>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-lg-9">
						<div class="">
							<button id="save" class="btn btn-lg btn-success" onclick="#"
								title="save">
								<i class="glyphicon glyphicon-ok hidden-md hidden-lg"></i><span
									class="glyphicon glyphicon-save hidden-xs hidden-sm">
									Save</span>
							</button>
							<button id="reset" type="reset" class="btn btn-lg btn-warning"
								onclick="#" title="reset">
								<i class="glyphicon glyphicon-repeat hidden-md hidden-lg"></i><span
									class="glyphicon glyphicon-repeat hidden-xs hidden-sm">
									Reset</span>
							</button>
							<button id="cancel" class="btn btn-lg btn-danger" onclick="#"
								title="cancel">
								<i class="glyphicon glyphicon-remove hidden-md hidden-lg"></i><span
									class="glyphicon glyphicon-remove hidden-xs hidden-sm">
									Cancel</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
