<div class="container-fluid">
  <form method="#" action="#" accept="image/gif,image/jpeg" class="form-horizontal">
    <div class="row">
      <legend style="padding-left: 3%;">New Opportunity</legend>
      <br />
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-1">
            <div class="form-group">
              <label>Lead Name</label>
                <input id="leadName" class="form-control" >
            </div>
            <div class="form-group">
              <label>Next Step</label>
                <input id="nextStep" class="form-control">
            </div>
            <div class="form-group ">
              <label>Lead Source</label>
                <select class="form-control">
                <option disabled selected>--select--</option>
                  <option>Cold call</option>
                  <option>Meeting</option>
                  <option>Conference</option>
                </select>
            </div>
            <div class="form-group ">
              <label>Team</label>
                <select class="form-control">
                  <option disabled selected>--select--</option>
                  <option>Hotwax Systems</option>
                  <option>Hotwax Media</option>
                </select>
            </div>
          </div>
          <div class="col-lg-4 col-lg-offset-2">
            <div class="form-group ">
              <label>Assigned To</label>
                <input id="assignedTo" class="form-control">
            </div>
            <div class="form-group ">
              <label>Likely</label>
              <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-usd"></span>
                <input id="likely" class="form-control">
              </div>
            </div>
            <div class="form-group ">
              <label>Description</label>
              <textarea rows="4" class="form-control" id="description"></textarea>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-offset-1">
            <div class="">
              <button id="save" class="btn btn-lg btn-success" onclick="#" title="save">
                <i class="glyphicon glyphicon-ok hidden-md hidden-lg"></i>
                <span class="glyphicon glyphicon-ok hidden-xs hidden-sm"> Save</span>
              </button>
              <button id="reset" type="reset" class="btn btn-lg btn-warning" onclick="#" title="reset">
                <i class="glyphicon glyphicon-repeat hidden-md hidden-lg"></i>
                <span class="glyphicon glyphicon-repeat hidden-xs hidden-sm"> Reset</span>
              </button>
              <button id="cancel" class="btn btn-lg btn-danger" onclick="#" title="cancel">
                <i class="glyphicon glyphicon-remove hidden-md hidden-lg"></i>
                <span class="glyphicon glyphicon-remove hidden-xs hidden-sm"> Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
