<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12  col-sm-12  col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default img-responsive">
        <div class="panel-heading">
          <div id="heading">
            <b>Opportunity</b>
          </div>
          <div style="float: right">
            <button id="" class="btn btn-default btn-lg " data-toggle="modal" data-target="#editOpportunity" title="edit">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
              <div>
                <div ng-init="editName=true;visible=false;" ng-mouseover="visible=true" ng-mouseleave="visible=false">
                  <span class="h2" ng-show="editName">
                    <b>{{opportunity.opportunityName}}</b>
                  </span>
                  <span ng-hide="editName">
                    <input type="text" value="{{opportunity.opportunityName}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-sm btn-default editBtn" ng-click="editName=!editName" ng-show="visible">
                    <span ng-show="editName">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editName">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>
                <br>
                <div ng-init="leadName=true;visible8=false;" ng-mouseover="visible8=true" ng-mouseleave="visible8=false">
                  <span class="h4" ng-show="leadName">
                    <label>Lead Name : </label>
                    <b>{{opportunity.leadName}}</b>
                  </span>
                  <span ng-hide="leadName">
                    <input type="text" value="{{opportunity.opportunityName}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-sm btn-default editBtn" ng-click="leadName=!leadName" ng-show="visible8">
                    <span ng-show="leadName">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editName">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>
                <div ng-init="editAssigned=true;visible2=false;" ng-mouseover="visible2=true" ng-mouseleave="visible2=false">
                  <span class="h4" ng-show="editAssigned">
                    <label>Assigned to :</label>
                    {{" "+opportunity.assignedTo}}
                  </span>
                  <span ng-hide="editAssigned">
                    <input type="text" value="{{opportunity.assignedTo}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editAssigned=!editAssigned" ng-show="visible2">
                    <span ng-show="editAssigned">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editAssigned">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>
                <div ng-init="editNext=true;visible3=false;" ng-mouseover="visible3=true" ng-mouseleave="visible3=false">
                  <span class="h4" ng-show="editNext">
                    <label>Next Step :</label>
                    {{" "+opportunity.nextStep}}
                  </span>
                  <span ng-hide="editNext">
                    <input type="text" value="{{opportunity.nextStep}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editNext=!editNext" ng-show="visible3">
                    <span ng-show="editNext">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editNext">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editSource=true;visible4=false;" ng-mouseover="visible4=true" ng-mouseleave="visible4=false">
                  <span class="h4" ng-show="editSource">
                    <label>Source</label>
                    {{" "+opportunity.source}}
                  </span>
                  <span ng-hide="editSource">
                    <input type="text" value="{{opportunity.source}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editSource=!editSource" ng-show="visible4">
                    <span ng-show="editSource">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editSource">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editTeam=true;visible5=false;" ng-mouseover="visible5=true" ng-mouseleave="visible5=false">
                  <span class="h4" ng-show="editTeam">
                    <label>Team :</label>
                    {{" "+opportunity.team}}
                  </span>
                  <span ng-hide="editTeam">
                    <input type="text" value="{{opportunity.team}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editTeam=!editTeam" ng-show="visible5">
                    <span ng-show="editTeam">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editTeam">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editLikely=true;visible6=false;" ng-mouseover="visible6=true" ng-mouseleave="visible6=false">
                  <span class="h4" ng-show="editLikely">
                    <label>Estimate Amount : </label>
                    {{opportunity.estimateAmount}}
                  </span>
                  <span ng-hide="editLikely">
                    <input type="text" value="{{opportunity.estimateAmount}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editLikely=!editLikely" ng-show="visible6">
                    <span ng-show="editLikely">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editLikely">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editProbability=true;visible9=false;" ng-mouseover="visible9=true" ng-mouseleave="visible9=false">
                  <span class="h4" ng-show="editProbability">
                    <label>Probability : </label>
                    {{opportunity.probability}}
                  </span>
                  <span ng-hide="editProbability">
                    <input type="text" value="{{opportunity.probability}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editProbability=!editProbability" ng-show="visible9">
                    <span ng-show="editProbability">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editLikely">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editStage=true;visible10=false;" ng-mouseover="visible10=true" ng-mouseleave="visible10=false">
                  <span class="h4" ng-show="editStage">
                    <label>Initial Stage : </label>
                    {{opportunity.initialStage}}
                  </span>
                  <span ng-hide="editStage">
                    <input type="text" value="{{opportunity.initialStage}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editStage=!editStage" ng-show="visible10">
                    <span ng-show="editStage">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editStage">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editAmount=true;visible11=false;" ng-mouseover="visible11=true" ng-mouseleave="visible11=false">
                  <span class="h4" ng-show="editAmount">
                    <label>Initial Amount : </label>
                    {{opportunity.initialAmount}}
                  </span>
                  <span ng-hide="editAmount">
                    <input type="text" value="{{opportunity.initialAmount}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editAmount=!editAmount" ng-show="visible11">
                    <span ng-show="editAmount">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editAmount">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <h4 style="font-weight: bold;">Description</h4>
                <div ng-init="editDescription=true;visible7=false" ng-mouseover="visible7=true" ng-mouseleave="visible7=false">
                  <span class="h4" ng-show="editDescription">{{opportunity.description}}</span>
                  <span ng-hide="editDescription">
                    <input type="text" value="{{opportunity.description}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editDescription=!editDescription" ng-show="visible7">
                    <span ng-show="editDescription">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editDescription">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editOpportunity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit opportunity</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="leadName">Lead Name</label>
              <input id="leadName" class="form-control" value="{{opportunity.leadName}}">
            </div>
            <div class="form-group">
              <label for="assignedTo">Assigned To</label>
              <input id="assignedTo" class="form-control" value="{{opportunity.assignedTo}}">
            </div>
            <div class="form-group">
              <label for="leadSource">Lead Source</label>
              <select class="form-control" id="leadSource">
                <option selected="selected">{{opportunity.leadSource}}</option>
                <option>Cold call</option>
                <option>Conference</option>
                <option>Meeting</option>
              </select>
            </div>
            <div class="form-group">
              <label for="team">Team</label>
              <select class="form-control" id="team">
                <option selected="selected">{{opportunity.team}}</option>
                <option>Hotwax Systems</option>
                <option>Apache</option>
                <option>Ofbiz</option>
              </select>
            </div>
            <div class="form-group">
              <label for="likely">Likely</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-usd"></i>
                <input id="likely" class="form-control" value="{{opportunity.likely}}">
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <div class="inner-addon left-addon">
                <textarea id="description" class="form-control">{{opportunity.description}}</textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>