<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12  col-sm-12  col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default img-responsive">
        <div class="panel-heading">
          <div id="heading">
            <b>Lead</b>
          </div>
          <div style="float: right">
            <button id="" class="btn btn-default btn-lg " data-toggle="modal" data-target="#editLead" title="edit">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="max-width: 150px; max-height: 600px;">
                  <img src="assets/images/demo.png" class="img-responsive" style="padding-top: 20px;">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
              <div>
                <div ng-init="editName=true;visible=false;" ng-mouseover="visible=true" ng-mouseleave="visible=false">
                  <span class="h2" ng-show="editName">
                    <b>{{lead.leadName}}</b>
                  </span>
                  <span ng-hide="editName">
                    <input type="text" value="{{lead.leadName}}" autofocus onfocus="this.value = this.value;">
                  </span>

                  <button type="button" class="btn btn-sm btn-default editBtn" ng-click="editName=!editName" ng-show="visible">
                    <span ng-show="editName">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editName">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editStatus=true;visible2=false;" ng-mouseover="visible2=true" ng-mouseleave="visible2=false">
                  <span class="h4" ng-show="editStatus">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    {{" "+lead.status}}
                  </span>
                  <span ng-hide="editStatus">
                    <input type="text" value="{{contact.status}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editStatus=!editStatus" ng-show="visible2">
                    <span ng-show="editStatus">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editStatus">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editSource=true;visible3=false;" ng-mouseover="visible3=true" ng-mouseleave="visible3=false">
                  <span class="h4" ng-show="editSource">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    {{" "+lead.sourceName}}
                  </span>
                  <span ng-hide="editSource">
                    <input type="text" value="{{lead.sourceName}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editSource=!editSource" ng-show="visible3">
                    <span ng-show="editSource">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editSource">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editDescription=true;visible4=false;" ng-mouseover="visible4=true" ng-mouseleave="visible4=false">
                  <span class="h4" ng-show="editDescription">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    {{" "+lead.description}}
                  </span>
                  <span ng-hide="editDescription">
                    <input type="text" value="{{lead.description}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editDescription=!editDescription" ng-show="visible4">
                    <span ng-show="editDescription">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editDescription">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>
                <br>
                <h2>Contact Information</h2>
                <div ng-init="editPhone=true;visible5=false;" ng-mouseover="visible5=true" ng-mouseleave="visible5=false">
                  <span class="h4" ng-show="editPhone">
                    <i class="glyphicon glyphicon-earphone"></i>
                    {{lead.phoneNo}}
                  </span>
                  <span ng-hide="editPhone">
                    <input type="text" value="{{lead.phoneNo}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editPhone=!editPhone" ng-show="visible5">
                    <span ng-show="editPhone">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editPhone">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editEmail=true;visible6=false;" ng-mouseover="visible6=true" ng-mouseleave="visible6=false">
                  <span class="h4" ng-show="editEmail">
                    <i class="glyphicon glyphicon-envelope"></i>
                    {{lead.email}}
                  </span>
                  <span ng-hide="editEmail">
                    <input type="text" value="{{lead.email}}" autofocus onfocus="this.value = this.value;">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editEmail=!editEmail" ng-show="visible6">
                    <span ng-show="editEmail">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editEmail">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editAddress=true;visible7=false" ng-mouseover="visible7=true" ng-mouseleave="visible7=false">
                  <span class="h4" ng-show="editAddress">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    {{lead.addressLine1}},{{lead.addressLine2}}
                  </span>
                  <span ng-hide="editAddress">
                    <input type="text" value="{{lead.addressLine1}}" autofocus onfocus="this.value = this.value;">
                    <input type="text" value="{{lead.addressLine2}}">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editAddress=!editAddress" ng-show="visible7">
                    <span ng-show="editAddress">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editAddress">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

                <div ng-init="editCountry=true;visible8=false" ng-mouseover="visible8=true" ng-mouseleave="visible8=false">
                  <span class="h4" ng-show="editCountry">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    {{lead.country+" "}}({{lead.state}})
                  </span>
                  <span ng-hide="editCountry">
                    <input type="text" value="{{lead.country}}" autofocus onfocus="this.value = this.value;">
                    <input type="text" value="{{lead.state}}">
                  </span>
                  <button type="button" class="btn btn-default   editBtn" ng-click="editCountry=!editCountry" ng-show="visible8">
                    <span ng-show="editCountry">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span ng-hide="editCountry">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="editLead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit Lead</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="leadName">Lead Name</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-user"></i>
                <input id="leadName" class="form-control" value="{{lead.leadName}}">

              </div>
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-info-sign"></i>
                <select class="form-control" id="status">
                  <option selected="selected">{{lead.status}}</option>
                  <option>Assigned to</option>
                  <option>Future</option>
                  <option>In progress</option>
                  <option>Dead</option>
                </select>

              </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <div class="inner-addon left-addon">
                <textarea id="description" class="form-control">{{lead.description}}</textarea>

              </div>
            </div>
            <br>
            <h3>Contact Information</h3>
            <div class="form-group">
              <label for="email">E-mail ID</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-envelope"></i>
                <input id="email" class="form-control" value="{{lead.email}}">

              </div>
            </div>

            <div class="form-group">
              <label for="phoneNo">Phone No</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-earphone"></i>
                <input id="phoneNo" class="form-control" value="{{lead.phoneNo}}">

              </div>
            </div>

            <div class="form-group">
              <label for="company">Company</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-home"></i>
                <input id="company" class="form-control" value="{{lead.company}}">

              </div>
            </div>

            <div class="form-group">
              <label for="addressLine1">Address Line1</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-map-marker"></i>
                <input id="addressLine1" class="form-control" value="{{lead.addressLine1}}">

              </div>
            </div>

            <div class="form-group">
              <label for="addressLine2">Address Line1</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-map-marker"></i>
                <input id="addressLine2" class="form-control" value="{{lead.addressLine2}}">

              </div>
            </div>

            <div class="form-group">
              <label for="country">Country</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-map-marker"></i>
                <input id="country" class="form-control" value="{{lead.country}}">

              </div>
            </div>

            <div class="form-group">
              <label for="state">State</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-map-marker"></i>
                <input id="state" class="form-control" value="{{lead.state}}">

              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>