<div class="row">
	<div class="col-lg-9 main-chart">
		<h2 class="centered">ALL CONTACTS ARE HERE!</h2>
			<table class="table-responsive table" >
				<thead>
    				<tr>
    					<th scope="col" >Name</th>
    					<th scope="col">Number</th>
   					</tr>
				</thead>
    			<tbody ng-repeat="contact in contacts | orderBy: 'firstName'">
    				<tr>
    					<td>
    					<a href="#">{{ contact.firstName}}</a>
    					</td> 
    					<td>
    					<a href="#">{{aaman}}</a>
    					</td>
   					</tr>     
    			</tbody>
			</table>
		</div>
</div>