<div class="container-fluid">
  <form method="#" action="#" accept="image/gif,image/jpeg" class="form-horizontal">
    <div class="row">
      <legend style="padding-left: 3%;">New Contact</legend>
      <br />
      <div class="col-lg-3">
        <div class="row">
          <div class="col-xs-offset-3 col-md-12">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 150px; height: 170px;"></div>
              <div>
                <span class="btn btn-success btn-file btn-block">
                  <span class="fileinput-new">Upload</span>
                  <span class="fileinput-exists">Change</span>
                  <input type="file" name="...">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label>First Name</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-user"></i>
                <input id="firstName" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-user"></i>
                <input id="lastName" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>Email ID</label>
              <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-envelope"></span>
                <input type="email" id="email" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>Phone no.</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-earphone"></i>
                <input id="phoneNo" class="form-control">
              </div>
            </div>
            <div class="form-group ">
              <label for="dob">Date of birth:</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-calendar"></i>
                <input type="date" id="dob" class="form-control">
              </div>
            </div>
            <div class="form-group ">
              <label>Company</label>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-home"></i>
                <input id="company" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-lg-offset-1">
            <div class="form-group ">
              <label>Position</label>
              <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-user"></span>
                <input id="industry" class="form-control">
              </div>
            </div>
            <div class="form-group ">
              <label>Currency</label>
              <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-usd"></span>
                <input id="currency" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>Address Line 1</label>
              <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-map-marker"></span>
                <input id="addressLine1" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>Address Line 2</label>
              <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-map-marker"></span>
                <input id="addressLine2" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>Country</label>
              <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-map-marker"></span>
                <input id="country" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>State</label>
              <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-map-marker"></span>
                <input id="state" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-9">
            <div class="">
              <button id="save" class="btn btn-lg btn-success" onclick="#" title="save">
                <i class="glyphicon glyphicon-ok hidden-md hidden-lg"></i>
                <span class="glyphicon glyphicon-ok hidden-xs hidden-sm"> Save</span>
              </button>
              <button id="reset" type="reset" class="btn btn-lg btn-warning" onclick="#" title="reset">
                <i class="glyphicon glyphicon-repeat hidden-md hidden-lg"></i>
                <span class="glyphicon glyphicon-repeat hidden-xs hidden-sm"> Reset</span>
              </button>
              <button id="cancel" class="btn btn-lg btn-danger" onclick="#" title="cancel">
                <i class="glyphicon glyphicon-remove hidden-md hidden-lg"></i>
                <span class="glyphicon glyphicon-remove hidden-xs hidden-sm"> Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
