<div class="container">
	<div class="row">
		<form class="form-horizontal col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<fieldset>
				<legend>New task</legend>
					<div class="form-group">
					<label for="name">Task name</label>
						<div class="inner-addon left-addon">
							<i class="glyphicon glyphicon-user"></i>
							<input id="name"  class="form-control  ">  
					</div>
				</div>

				<div class="form-group">
				<label for="name">Responsible person</label>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input id="responsiblePerson"  class="form-control  ">
					</div>
				</div>

				<div class="form-group  ">
					<label for"priority">Priority :</label><br>
					<label class="radio-inline"><input type="radio" name="priority" checked>low</label>
					<label class="radio-inline"><input type="radio" name="priority">average</label>
					<label class="radio-inline"><input type="radio" name="priority">high</label>
			</div>

			<div class="form-group">
				<label for"responsiblePerson">Description :</label>
				<textarea id="responsiblePerson" rows="4" class="form-control"></textarea>
			</div>

			<div class="form-group">
 				<div class="btn-group">
        	<div class="btn-group">
        	<button id="save" class="btn btn-success btn-sm" onclick="#" title="save"><i class="glyphicon glyphicon-ok hidden-md hidden-lg"></i><span class="glyphicon glyphicon-ok hidden-xs hidden-sm"> save</span></button>
        	<button id="reset" type="reset" class="btn btn-warning btn-sm" onclick="#" title="reset"><i class="glyphicon glyphicon-repeat hidden-md hidden-lg"></i><span class="glyphicon glyphicon-repeat hidden-xs hidden-sm"> reset</span></button>
        	<button id="cancel" class="btn btn-danger btn-sm" onclick="#" title="cancel"><i class="glyphicon glyphicon-remove hidden-md hidden-lg"></i><span class="glyphicon glyphicon-remove hidden-xs hidden-sm"> cancel</span></button>
        </div>
        	</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>