<div class="container">
<div class="row">

<form class="form-horizontal col-xs-6 col-xs-offset-3">
<fieldset>
<legend>New task</legend>

<div class="form-group">
<div class="inner-addon left-addon">
<i class="glyphicon glyphicon-user"></i>
<input id="name" placeholder="name" class="form-control myInput"><hr>
</div>
</div>

<div class="form-group">
<div class="inner-addon left-addon">
<i class="glyphicon glyphicon-user"></i>
<input id="responsiblePerson" placeholder="responsible person" class="form-control myInput">
<hr>
</div>
</div>
<div class="form-group myInput">
<lable for"priority">Priority :</lable><br>
<label class="radio-inline"><input type="radio" name="priority" checked>low</label>
<label class="radio-inline"><input type="radio" name="priority">average</label>
<label class="radio-inline"><input type="radio" name="priority">high</label>
</div>

<div class="form-group">
<lable for"responsiblePerson">Description :</lable>
<textarea id="responsiblePerson" rows="4" class="form-control"></textarea>
</div>

<div class="form-group">
 <div class="btn-group">
        <button id="save" class="btn btn-success btn-sm" onclick="#" title="save"><span class="glyphicon glyphicon-file"></span></button>
        <button id="reset" type="reset" class="btn btn-warning btn-sm" onclick="#" title="reset"><span class="glyphicon glyphicon-repeat"></span></button>
        <button id="cancel" class="btn btn-danger btn-sm" onclick="#" title="cancel"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
</div>

</fieldset>
</form>
</div>
</div>