<div class="container-fluid">
	<div class="row">
    	<div class="col-xs-12  col-sm-12  col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    		<div class="panel panel-default img-responsive">
  				<div class="panel-heading">
	  				<div id="heading"><b>Contact details</b></div>
	  				<div style="float:right">
	        		<button id="edit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editContact"  title="edit"><i class="glyphicon glyphicon-edit hidden-md hidden-lg"></i><span class="glyphicon glyphicon-edit hidden-xs hidden-sm"> edit</span></button>
	        		</div>
  				</div>
				<div class="panel-body" style="font-size:  25px">
                    <div class="row">
                    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                      		<div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left:10px;">
								<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 150px; height: 200px;">
								<img src="assets/images/demo.png" class="img-responsive" style="padding-top:20px;">
								</div>
							</div>
                     	</div>
                     	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                     		<span ng-init="edit=true" ng-show="edit"><b>{{contact.firstName +" "+contact.lastName}}<b></span>
                     		<span ng-hide="edit"><input type="text" value="{{contact.firstName}} {{contact.lastName}}"></span>
                     		<button type="button" class="btn btn-info pull-right" ng-click="edit=!edit">
                     		  <span ng-show="edit"><i class="glyphicon glyphicon-pencil"></i></span>
                     		  <span ng-hide="edit"><i class="glyphicon glyphicon-ok"></i></span></button>
                     		<h4>{{contact.position}} at {{contact.company}}</h4>
                     		<h4><i class="glyphicon glyphicon-home"></i>{{" "+contact.address}}, {{" "+contact.state}},{{" "+contact.country}}</h4>
                     		<h4><i class="glyphicon glyphicon-earphone"></i>{{" "+contact.phoneNo}}</h4>
                     		<h4><i class="glyphicon glyphicon-envelope"></i>{{" "+contact.email}}</h4>
                     		<h4><i class="glyphicon glyphicon glyphicon-gift"></i>{{" "+contact.dob}}</h4>
                     	</div>
					</div>
				</div>
   			</div>
   		</div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="editContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit contact</h4>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
        <lable for="firstName">First name:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input id="firstName"  class="form-control" value="{{contact.firstName}}">
						 
					</div>
				</div>
				
        <div class="form-group">
        <lable for="lastName">Last name:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input id="lastName" class="form-control" value="{{contact.lastName}}">
						 
					</div>
				</div>
				<div class="form-group">
				<lable for="email">E-mail:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-envelope"></i>
						<input id="email" class="form-control" value="{{contact.email}}">
						 
					</div>
				</div>
				
				<div class="form-group">
				<lable for="phoneNo">Phone no:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-earphone"></i>
						<input id="firstName" class="form-control" value="{{contact.phoneNo}}">
						 
					</div>
				</div>
				
				<div class="form-group">
				<lable for="company">Company:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-earphone"></i>
						<input id="company" class="form-control" value="{{contact.company}}">
						 
					</div>
				</div>
				
				<div class="form-group">
				<lable for="position">Position:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-earphone"></i>
						<input id="position" class="form-control" value="{{contact.position}}">
						 
					</div>
				</div>
				
				<div class="form-group">
				<lable for="dob">D.O.B.:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-earphone"></i>
						<input id="dob" class="form-control" value="{{contact.dob}}">
						 
					</div>
				</div>
				
				<div class="form-group">
				<lable for="address">Address:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-earphone"></i>
						<input id="address" class="form-control" value="{{contact.address}}">
						 
					</div>
				</div>
				
				<div class="form-group">
				<lable for="state">State:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-earphone"></i>
						<input id="state" class="form-control" value="{{contact.state}}">
						 
					</div>
				</div>
					<div class="form-group">
				<lable for="country">Country:</lable>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-earphone"></i>
						<input id="country" class="form-control" value="{{contact.country}}">
						 
					</div>
				</div>
				
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
