<div class="container">
<form method="#" action="#" accept="image/gif,image/jpeg" class="form-horizontal col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
	<div class="row">
		<fieldset>
		<legend>Contact details</legend>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
						<div class="fileinput fileinput-new" data-provides="fileinput"> 
	                    	<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 150px; height: 170px;" >
	                    	</div> 
                        	<div style="display:inline;"> 
	                    		<span class="btn btn-large btn-success btn-file">
	                    				<span class="fileinput-new">upload</span>
	                    				<span class="fileinput-exists">change</span>
	                    			
	                    			<input type="file" name="...">
	                    		</span>
	                   
                        	</div> 
                        </div>
              		</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
				<div class="form-group">
				<label for="firstName">First name:</label>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input id="firstName" class="form-control  " value="{{contact.firstName}}"  ng-readonly="notEditable">
					 </div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
				<div class="form-group">
				<label for="lastName">Last name:</label>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input id="lastName" class="form-control  " value="{{contact.lastName}}" ng-readonly="notEditable">
					 </div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
				<div class="form-group">
				<label for="email">E-mail:</label>
					<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-envelope"></i>
					<input type="email" id="email" class="form-control  " value="{{contact.email}}" ng-readonly="notEditable">
					 </div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2">
				<div class="form-group">
				<label for="phoneNo">Last name :</label>
					<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-earphone"></i>
					<input id="phoneNo" class="form-control  " value="{{contact.phoneNo}}" ng-readonly="notEditable">
					 </div>
				</div>
			</div>
		</div>

        	<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"><div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-group ">
				<label for="address">Address:</label>
					<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-user"></i>
					<input id="address" class="form-control  " value="{{contact.address}}" ng-readonly="notEditable">
					 </div>
				</div>
			</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-group ">
				<label for="state">State:</label>
					<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-user"></i>
					<input id="state" class="form-control  " value="{{contact.state}}" ng-readonly="notEditable">
					 </div>
				</div>
				</div>
			
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-group ">
				<label for="country">Country:</label>
					<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-user"></i>
					<input id="country" class="form-control  " value="{{contact.country}}" ng-readonly="notEditable">
					 </div>
				</div>
				</div></div>
			
			</div>

			<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2">
				<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-group ">
				<label for="company">Company:</label>
					<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-user"></i>
					<input id="company" class="form-control  " value="{{contact.company}}" ng-readonly="notEditable">
					 </div>
				</div>
			</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-group ">
				<label for="position">Position:</label>
					<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-user"></i>
					<input id="position"  class="form-control  " value="{{contact.position}}" ng-readonly="notEditable">
					 </div>
				</div>
				</div>
			
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-group ">
				<label for="dob">Date of birth:</label>
					<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-calendar"></i>
					<input type="date" id="dob" class="form-control  " value="{{contact.dob}}" ng-readonly="notEditable">
					 
					</div>
				</div>
				</div></div>
			</div>
		</div>

		
		</div>
		
	    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 		<div class="btn-group">
        	<button id="edit" class="btn btn-success btn-sm" ng-click="notEditable=!notEditable" onclick="#" title="edit"><i class="glyphicon glyphicon-edit hidden-md hidden-lg"></i><span class="glyphicon glyphicon-edit hidden-xs hidden-sm"> edit</span></button>
        	<button id="reset" type="reset" class="btn btn-warning btn-sm" onclick="#" title="back"><i class="glyphicon glyphicon-arrow-left hidden-md hidden-lg"></i><span class="glyphicon glyphicon-arrow-left hidden-xs hidden-sm"> back</span></button>
        	<button id="cancel" class="btn btn-danger btn-sm" onclick="#" title="delete"><i class="glyphicon glyphicon-trash hidden-md hidden-lg"></i><span class="glyphicon glyphicon-trash hidden-xs hidden-sm"> delete</span></button>
        </div></div></div>
		</fieldset>
	</div>
</form>
</div>